:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: "FontAwesome", sans-serif;
  --third-family: "Gotham", sans-serif;
  --font3: "ProximaNova", sans-serif;
  --primary-color: #f90;
  --text-color-1: #2f281e;
  --text-color-2: #544837;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: var(--text-color-2);
  margin: 0%;

  ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
  }

  :link,
  :visited {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: white;
    border: none;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 11px 24px;
  }

  .container {
    max-width: 1110px;
    width: 94%;
    margin: 0 auto;
  }
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 35px;

  nav {
    margin-left: auto;
  }

  ul {
    display: flex;
    gap: 27px;
  }

  .buttons {
    margin-left: 53px;
    display: flex;
    gap: 14px;

    .transparent {
      background: transparent;
      border: 1px solid #BCD0E5;
      color: #173a56;
      padding-block: 10px;
    }
  }
}

.hero {
  display: flex;
  padding-block: 12px 10px;
  justify-content: space-between;

  .content {

    h2 {
      font-weight: 700;
      font-size: 44px;
      line-height: 123%;
      color: var(--text-color-1);
      margin-block: 83px 0px;

    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      width: 458px;
      margin-block: 30px 56px;
    }

    .action {
      display: flex;
      align-items: center;

      button {
        padding: 14px 41px 15px;
        font-weight: 700;
      }

      a {
        font-family: var(--font-family);
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 2px;
        color: var(--primary-color);
        background-image: url("images/icons/play.svg");
        background-repeat: no-repeat;
        background-position-y: 2px;
        padding-left: 28px;
        margin-left: 31px;
      }
    }
  }

  img {
    margin-right: -15px;
  }
}

.tools {
  padding-block: 100px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--text-color-1);

  h2 {
    width: 540px;
    height: 108px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #2f281e;
    margin: 0 auto;
    line-height: 50px;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 54px;
    padding-bottom: 34px;

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      img {
        margin-bottom: 30px;
        width: 51px;
        height: 50px;
      }

      h3 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 22px;
        color: #2f281e;
        margin: 0px;
        margin-bottom: 13px;
      }

      p {
        margin-top: 0px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: #544837;
        text-align: start;

      }
    }
  }

  .tools-button {
    width: 175px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }
}

.design {
  padding-top: 110px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;

  .content-design {
    width: 486px;
    height: 531px;
    padding-block: 24px 0px;

    h2 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 36px;
      color: #2f281e;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 22px;
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      color: #544837;
      margin: auto;
    }

    h3 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16px;
      line-height: 162%;
      color: #2f281e;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 12px;
    }

  }

  img {
    width: 520px;
    height: 573px;
  }
}

.product {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;

  img {
    width: 535px;
    height: 521px;
  }

  .content-product {
    width: 486px;
    height: 427px;
    padding-block: 24px 0px;

    h2 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 36px;
      color: #2f281e;
      margin: 0%;
      padding-top: 10px;
      padding-bottom: 22px;
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      color: #544837;
      margin: 0%;
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 430px;
      height: 52px;

      li {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: #544837;
        padding-top: 30px;

        img {
          width: 35px;
          height: 35px;
          margin: auto
        }
      }
    }
  }
}

.marketers {
  padding-top: 110px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;

  .content-market {
    width: 486px;
    height: 531px;
    padding-block: 24px 0px;

    h2 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 36px;
      color: #2f281e;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 22px;
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      color: #544837;
      margin: auto;
    }

    h3 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16px;
      line-height: 162%;
      color: #2f281e;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 12px;
    }
  }

  img {
    width: 542px;
    height: 609px;
  }
}



hr {
  width: 1109px;
  height: 1px;
  background: rgba(188, 208, 229, 0.5);
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-block: 100px 83px;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;

  

  nav {
    display: flex;
    gap: 175px;
    padding-top: 67px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 93px;

    input {
      font-size: 22px;
      line-height: 35px;
      width: 325px;
      height: 48px;
      border-radius: 4px;
      border: 1px solid #BCD0E5;
      margin-bottom: 21px;
      
    }
  }
}